@{
    ViewData["Title"] = "Horizontal Forms";
}
<h2>@ViewData["Title"]</h2>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#single">Single Column Form</a></li>
    <li><a data-toggle="tab" href="#double">Two Column Form</a></li>
    <li><a data-toggle="tab" href="#errors">Errors</a></li>
</ul>
<div class="tab-content">
    <div id="single" class="tab-pane fade in active">

        <div id="example-text" class="example">
            <div class="row">
                <div class="col-sm-10 col-md-8">
                    <div class="form-horizontal">
                        <h4>Form Section Header</h4>
                        <div class="form-group">
                            <label class="control-label col-sm-4 required" for="email">Short Label:</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" placeholder="Placeholder" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Medium Label:</label>
                            <div class="col-sm-8">
                                <input class="form-control" placeholder="Readonly" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="pwd">Very Long Label:</label>
                            <div class="col-sm-8">
                                <span class="form-control form-data">Displaying Data using a span with .form-control and .form-data styling</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" />Checkbox label goes here
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>SubmitButton</button>
                                <button type="submit" class="btn btn-cancel">CancelButton</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <pre class="snippet"><code class="html hljs xml">
 &lt;div class="form-horizontal"&gt;
 &Tab;&lt;h4&gt;Form Section Header&lt;/h4&gt;
 &Tab;&lt;div class="form-group"&gt;
 &Tab;&Tab;&lt;label class="control-label col-sm-4 required" for="email"&gt;Short Label:&lt;/label&gt;
 &Tab;&Tab;&lt;div class="col-sm-8"&gt;
 &Tab;&Tab;&Tab;&lt;input type="email" class="form-control" placeholder="Placeholder" /&gt;
 &Tab;&Tab;&lt;/div&gt;
 &Tab;&lt;/div&gt;
 &Tab;&lt;div class="form-group"&gt;
 &Tab;&Tab;&lt;label class="control-label col-sm-4"&gt;Medium Label:&lt;/label&gt;
 &Tab;&Tab;&lt;div class="col-sm-8"&gt;
 &Tab;&Tab;&Tab;&lt;input class="form-control" placeholder="Readonly" readonly /&gt;
 &Tab;&Tab;&lt;/div&gt;
 &Tab;&lt;/div&gt;
 &Tab;&lt;div class="form-group"&gt;
 &Tab;&Tab;&lt;label class="control-label col-sm-4" for="pwd"&gt;Very Long Label:&lt;/label&gt;
 &Tab;&Tab;&lt;div class="col-sm-8"&gt;
 &Tab;&Tab;&Tab;&lt;span class="form-control form-data"&gt;Displaying Data using a span with .form-control and .form-data styling&lt;/span&gt;
 &Tab;&Tab;&lt;/div&gt;
 &Tab;&lt;/div&gt;
 &Tab;&lt;div class="form-group"&gt;
 &Tab;&Tab;&lt;div class="col-sm-offset-4 col-sm-8"&gt;
 &Tab;&Tab;&Tab;&lt;div class="checkbox"&gt;
 &Tab;&Tab;&Tab;&Tab;&lt;label&gt;
 &Tab;&Tab;&Tab;&Tab;&Tab;&lt;input type="checkbox" /&gt;Checkbox label goes here
 &Tab;&Tab;&Tab;&Tab;&lt;/label&gt;
 &Tab;&Tab;&Tab;&lt;/div&gt;
 &Tab;&Tab;&lt;/div&gt;
 &Tab;&lt;/div&gt;
 &Tab;&lt;div class="form-group"&gt;
 &Tab;&Tab;&lt;div class="col-sm-offset-4 col-sm-8"&gt;
 &Tab;&Tab;&Tab;&lt;button type="submit" class="btn btn-primary"&gt;SubmitButton&lt;/button&gt;
 &Tab;&Tab;&Tab;&lt;button type="submit" class="btn btn-cancel"&gt;CancelButton&lt;/button&gt;
 &Tab;&Tab;&lt;/div&gt;
 &Tab;&lt;/div&gt;
 &lt;/div&gt;
 </code></pre>

        </div>
    <div id="double" class="tab-pane fade">
        <div id="example-text" class="example">
            <h4>Form Section Header</h4>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-3 required" for="email">Label:</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" placeholder="Placeholder" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 required">Label:</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" placeholder="Placeholder" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="" />Option 1
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="" />Option 2
                                    </label>
                                </div>
                                <div class="checkbox disabled">
                                    <label>
                                        <input type="checkbox" value="" disabled />Option 3
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-3 required">Medium Label:</label>
                            <div class="col-sm-9">
                                <input class="form-control" placeholder="Placeholder" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Label:</label>
                            <div class="col-sm-9">
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <div class="radio">
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio">Option 1
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio">Option 2
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio">Option 3
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-8 col-md-6">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-md-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-primary">SubmitButton</button>
                            <button type="submit" class="btn btn-cancel">CancelButton</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <pre class="snippet"><code class="html hljs xml">
&lt;h4&gt;Form Section Header&lt;/h4&gt;
&lt;div class="row"&gt;
&Tab;&lt;div class="col-sm-6"&gt;
&Tab;&Tab;&lt;div class="form-horizontal"&gt;
&Tab;&Tab;&Tab;&lt;div class="form-group"&gt;
&Tab;&Tab;&Tab;&Tab;&lt;label class="control-label col-sm-3 required" for="email"&gt;Label:&lt;/label&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class="col-sm-9"&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;input type="email" class="form-control" placeholder="Placeholder" /&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class="form-group"&gt;
&Tab;&Tab;&Tab;&Tab;&lt;label class="control-label col-sm-3 required"&gt;Label:&lt;/label&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class="col-sm-9"&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;input type="password" class="form-control" placeholder="Placeholder" /&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class="form-group"&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class="col-sm-offset-3 col-sm-9"&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class="checkbox"&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;label&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;input type="checkbox" value="" /&gt;Option 1
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/label&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class="checkbox"&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;label&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;input type="checkbox" value="" /&gt;Option 2
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/label&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class="checkbox disabled"&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;label&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;input type="checkbox" value="" disabled /&gt;Option 3
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/label&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&Tab;&lt;div class="col-sm-6"&gt;
&Tab;&Tab;&lt;div class="form-horizontal"&gt;
&Tab;&Tab;&Tab;&lt;div class="form-group"&gt;
&Tab;&Tab;&Tab;&Tab;&lt;label class="control-label col-sm-3 required"&gt;Medium Label:&lt;/label&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class="col-sm-9"&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;input class="form-control" placeholder="Placeholder" /&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class="form-group"&gt;
&Tab;&Tab;&Tab;&Tab;&lt;label class="control-label col-sm-3"&gt;Label:&lt;/label&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class="col-sm-9"&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;select class="form-control"&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;option&gt;1&lt;/option&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;option&gt;2&lt;/option&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;option&gt;3&lt;/option&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;option&gt;4&lt;/option&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/select&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class="form-group"&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class="col-sm-offset-3 col-sm-9"&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class="radio"&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;label class="radio-inline"&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;input type="radio" name="optradio"&gt;Option 1
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/label&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;label class="radio-inline"&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;input type="radio" name="optradio"&gt;Option 2
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/label&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;label class="radio-inline"&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;input type="radio" name="optradio"&gt;Option 3
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/label&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&lt;/div&gt;
&lt;div class="row"&gt;
&Tab;&lt;div class="col-sm-8 col-md-6"&gt;
&Tab;&Tab;&lt;div class="form-group"&gt;
&Tab;&Tab;&Tab;&lt;div class="col-sm-offset-2 col-md-offset-3 col-sm-9"&gt;
&Tab;&Tab;&Tab;&Tab;&lt;button type="submit" class="btn btn-primary"&gt;SubmitButton&lt;/button&gt;
&Tab;&Tab;&Tab;&Tab;&lt;button type="submit" class="btn btn-cancel"&gt;CancelButton&lt;/button&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&lt;/div&gt;
</code></pre>
    </div>
    <div id="errors" class="tab-pane fade">
        <div id="example-text" class="example">
            <div class="text-danger validation-summary-errors">
                <ul>
                    <li>Error one</li>
                    <li>Error two</li>
                    <li>Error three</li>
                </ul>
            </div>
            <div class="form-group has-feedback">
                <label class="required">Label</label>
                <input class="form-control input-validation-error"/>
                <span class="text-danger field-validation-error">Field error message.</span>
            </div>
        </div>
        <pre class="snippet"><code class="html hljs xml">
&lt;div class="text-danger validation-summary-errors"&gt;
&Tab;&lt;ul&gt;
&Tab;&Tab;&lt;li&gt; Error One &lt;/li&gt;
&Tab;&Tab;&lt;li&gt; Error Two &lt;/li&gt;
&Tab;&Tab;&lt;li&gt; Error Three &lt;/li&gt;
&Tab;&lt;/ul&gt;
&lt;/div&gt;
&lt;div class="form-group has-feedback"&gt;
&Tab;&lt;label class="required">Label&lt;/label&gt;
&Tab;&lt;input class="form-control input-validation-error"/&gt;
&Tab;&lt;span class="text-danger field-validation-error"&gt;Field error message.&lt;/span&gt;
&lt;/div&gt;
</code></pre>
    </div>
</div>

