@{
    ViewData["Title"] = "List View Page Title";
}

<div class="list-view">
    <div class="row page-title">
        <h1 class="col-sm-6 pull-left">@ViewData["Title"]</h1>

        <div class="col-sm-6 pull-right text-right l-mt15">
            <a id="ctl00_ctl00_body_body_btnCreateActionStep" class="btn btn-default l-mt5" href="">Page Action Items</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="well remove l-h200">
                Expander, Search Filters, etc.
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="well remove l-h400">
                Grid Results
            </div>
        </div>
        
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

        });
    </script>
}