@{
    ViewData["Title"] = "Login";
}
@*{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}*@
<div class="container-fluid login-container">
    <div class="row">
        <div class="col-xs-12 splashlogin">
            <div class="splash-img">
                <div class="col-sm-3 well">
                    <div class="form-group">
                        <label class="control-label">
                            *User ID:
                        </label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            *Password:
                        </label>
                        <input type="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-primary">
                    </div>
                    <div class="links pad">
                        <a href="">Login Help</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>