@{
    ViewData["Title"] = "Login";
}
@*{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}*@

<div id="example-text" class="example">
    <div class="container-fluid login-container">
        <div class="row">
            <div class="col-xs-12 splashlogin">
                <h2>Login</h2>
                <div class="splash-img">
                    <div class="col-sm-3 well">
                        <div class="form-group">
                            <label class="control-label required">User ID:</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label required">Password:</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn btn-primary">
                        </div>
                        <div class="links pad">
                            <a href="">Login Help</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<pre class="snippet"><code class="html hljs xml">
&lt;div class="container-fluid login-container"&gt;
&Tab;&lt;div class="row"&gt;
&Tab;&Tab;&lt;div class="col-xs-12 splashlogin"&gt;
&Tab;&Tab;&Tab;&lt;h2&gt;Login&lt;/h2&gt;
&Tab;&Tab;&Tab;&lt;div class="splash-img"&gt;
&Tab;&Tab;&Tab;&Tab;&lt;div class="col-sm-3 well"&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class="form-group"&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;label class="control-label required"&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;User ID:
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/label&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;input type="text" class="form-control"&gt;&NewLine;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class="form-group"&gt;&NewLine;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;label class="control-label required"&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;Password:&NewLine;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/label&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;input type="password" class="form-control"&gt;&NewLine;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class="form-group"&gt;&NewLine;&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;input type="submit" value="Login" class="btn btn-primary"&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;&NewLine;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;div class="links pad"&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&Tab;&lt;a href=""&gt;Login Help&lt;/a&gt;
&Tab;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;&NewLine;&Tab;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;&NewLine;&Tab;&Tab;&lt;/div&gt;&NewLine;&Tab;&lt;/div&gt;
&lt;/div&gt;</code></pre>