@{
    ViewData["Title"] = "Login";
}
@*{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}*@
<div class="container-fluid login-container">
    <div class="row">
        <div id="dvLogin" class="col-xs-12 splashlogin">
            <div class="splash-img">
                <div class="col-sm-3 well">
                    <div class="form-group">
                        <label class="control-label">
                            <span id="ctl00_body_lblUser">*User ID:</span>
                        </label>
                        <input name="ctl00$body$txtUserName" type="text" id="ctl00_body_txtUserName" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            <span>*Password:</span>
                        </label>
                        <input name="ctl00$body$txtPassword" type="password" id="ctl00_body_txtPassword" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="submit" name="ctl00$body$Button1" value="Login" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$body$Button1&quot;, &quot;&quot;, true, &quot;BlenderLogin&quot;, &quot;&quot;, false, false))" id="ctl00_body_Button1" class="btn btn-primary">
                    </div>
                    <div class="links pad">
                        <a href="/LoginHelp.aspx">Login Help</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>