@{
    ViewData["Title"] = "Modals";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div id="example-text" class="example">
    <!-- Trigger -->
    <button class="btn" data-clipboard-action="copy" data-clipboard-text="Just because you can doesn't mean you should — clipboard.js">
        Copy 2 clipboard
    </button>
</div>
<pre class="snippet"><code class="html hljs xml"><span class="hljs-comment">&lt;!-- Trigger --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"btn"</span> <span class="hljs-attribute">data-clipboard-text</span>=<span class="hljs-value">"Just because you can doesn't mean you should — clipboard.js"</span>&gt;</span>
    Copy clipboard
<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span></code></pre>