@{
    ViewData["Title"] = "Modals";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div id="example-text" class="example">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

</div>
<pre class="snippet"><code class="html hljs xml">
&lt;button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"&gt;Open Modal&lt;/button&gt;
&lt;!-- Modal --&gt;&NewLine;&lt;div id="myModal" class="modal fade" role="dialog"&gt;&NewLine;&Tab;&lt;div class="modal-dialog"&gt;
&Tab;&Tab;&lt;!-- Modal content--&gt;&NewLine;&Tab;&Tab;&lt;div class="modal-content"&gt;&NewLine;&Tab;&Tab;&Tab;&lt;div class="modal-header"&gt;
&Tab;&Tab;&Tab;&Tab;&lt;button type="button" class="close" data-dismiss="modal"&gt;&times;&lt;/button&gt;
&Tab;&Tab;&Tab;&Tab;&lt;h4 class="modal-title"&gt;Modal Header&lt;/h4&gt;&NewLine;&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class="modal-body"&gt;
&Tab;&Tab;&Tab;&Tab;&lt;p&gt;Some text in the modal.&lt;/p&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&Tab;&lt;div class="modal-footer"&gt;
&Tab;&Tab;&Tab;&Tab;&lt;button type="button" class="btn btn-default" data-dismiss="modal"&gt;Close&lt;/button&gt;
&Tab;&Tab;&Tab;&lt;/div&gt;
&Tab;&Tab;&lt;/div&gt;
&Tab;&lt;/div&gt;
&lt;/div&gt;

</code></pre>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>