@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container vehicles">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-title">Vehicles</h1>
            <hr/>
            <a href="" class="btn btn-primary btn-green"><i class="fa fa-plus-circle"></i> Add Another Vehicle</a>
        </div>
    </div>
    <div class="row vehicle">
        <hr/>
        <div class="col-sm-4">
            <div class="plate-az pending">
                ABC 123
            </div>
            <label>VIN:</label> 123445667788<br />
            <label>Registration Expires:</label> 10/17
        </div>
        <div class="col-sm-5">
            <h2>Pending Enrollment</h2>

            <label>Vehicle Enrolled:</label> Pending<br />
            <label>Enrolled States:</label> <a href="">0 out of 23</a><br />
            <label>Primary Toll State:</label> AZ<br />
            <label>Auto-Renew</label> No

        </div>
        <div class="col-sm-3 actions">
            <button class="btn btn-primary">Update</button>
            <button class="btn btn-primary">Unenroll</button>
        </div>
    </div>

    <div class="row vehicle">
        <hr />
        <div class="col-sm-4">
            <div class="plate-id">
                ABC 123
            </div>
            <label>VIN:</label> 123445667788<br />
            <label>Registration Expires:</label> 10/17
        </div>
        <div class="col-sm-5">
            <h2>Enrolled</h2>

            <label>Vehicle Enrolled:</label> 03/18/17 to 03/18/18<br />
            <label>Enrolled States:</label> <a href="">0 out of 23</a><br />
            <label>Primary Toll State:</label> AZ<br />
            <label>Auto-Renew</label> No

        </div>
        <div class="col-sm-3 actions">
            <button class="btn btn-primary">Update</button>
            <button class="btn btn-primary">Unenroll</button>
        </div>
    </div>

    <div class="row vehicle unenrolled">
        <hr />
        <div class="col-sm-4">
            <div class="plate-wa unenrolled">
                ABC 123
            </div>
            <label>VIN:</label> 123445667788<br />
            <label>Registration Expires:</label> 10/17
        </div>
        <div class="col-sm-5">
            <h2>Unenrolled</h2>

            <label>Vehicle Enrolled:</label> Unenrolled<br />
            <label>Enrolled States:</label> <a href="">0 out of 23</a><br />
            <label>Primary Toll State:</label> AZ<br />
            <label>Auto-Renew</label> No

        </div>
        <div class="col-sm-3 actions">
            <button class="btn btn-primary">Update</button>
            <button class="btn btn-primary">Unenroll</button>
        </div>
    </div>

    <div class="row vehicle">
        <hr />
        <div class="col-sm-4">
            <div class="plate-de">
                ABC 123
            </div>
            <label>VIN:</label> 123445667788<br />
            <label>Registration Expires:</label> 10/17
        </div>
        <div class="col-sm-5">
            <h2>Status</h2>

            <label>Vehicle Enrolled:</label> Pending<br />
            <label>Enrolled States:</label> <a href="">0 out of 23</a><br />
            <label>Primary Toll State:</label> AZ<br />
            <label>Auto-Renew</label> No

        </div>
        <div class="col-sm-3 actions">
            <button class="btn btn-primary">Update</button>
            <button class="btn btn-primary">Unenroll</button>
        </div>
    </div>

    <div class="row vehicle">
        <hr />
        <div class="col-sm-4">
            <div class="plate-fl">
                ABC 123
            </div>
            <label>VIN:</label> 123445667788<br />
            <label>Registration Expires:</label> 10/17
        </div>
        <div class="col-sm-5">
            <h2>Status</h2>

            <label>Vehicle Enrolled:</label> Pending<br />
            <label>Enrolled States:</label> <a href="">0 out of 23</a><br />
            <label>Primary Toll State:</label> AZ<br />
            <label>Auto-Renew</label> No

        </div>
        <div class="col-sm-3 actions">
            <button class="btn btn-primary">Update</button>
            <button class="btn btn-primary">Unenroll</button>
        </div>
    </div>

</div>