@{
    ViewData["Title"] = "Vertical Forms";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<h4>Vertical Single Column Form</h4>
<div class="row">
    <div class="col-sm-8 col-md-6 col-sm-offset-">
        <div>
            <div class="form-group">
                <label class="control-label" for="email">Short Label:</label>
                <input type="email" class="form-control" placeholder="Placeholder" />
            </div>
            <div class="form-group">
                <label class="control-label">Medium Label:</label>
                <input class="form-control" placeholder="Readonly" readonly />
            </div>
            <div class="form-group">
                <label class="control-label" for="pwd">Very Long Label:</label>
                <input type="password" class="form-control" placeholder="Placeholder" />
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" />Checkbox label goes here
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">SubmitButton</button>
                <button type="submit" class="btn btn-cancel">CancelButton</button>
            </div>
        </div>
    </div>
</div>