/* ----------------------R E U S A B L E --------------------------*/
div:empty:before {
  content: attr(data-placeholder);
  color: #1a1a1a;
  font-weight: normal;
}
::-webkit-input-placeholder {
  color: #1a1a1a;
  font-weight: normal;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #1a1a1a;
  font-weight: normal;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #1a1a1a;
  font-weight: normal;
}
:-ms-input-placeholder {
  color: #1a1a1a;
  font-weight: normal;
}
.main-content-container {
  padding: 0;
}
.create-assessment i {
  cursor: pointer;
  font-size: 18px;
}
.create-assessment .tab-pane {
  padding: 20px;
  position: relative;
  top: 32px;
  z-index: 2;
  background: #ffffff;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}
.create-assessment .tab-pane p {
  clear: both;
}
.create-assessment .as-top-menu {
  height: 200px;
  background-color: #3da9f2;
  color: #ffffff;
  position: relative;
  z-index: 1;
  padding: 12px;
}
.create-assessment .as-top-menu .pull-left {
  font-size: 20px;
  font-weight: 600;
}
.create-assessment .as-top-menu p {
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.8);
  margin: 6px 48px;
  display: block;
  float: left;
  width: 100%;
}
.create-assessment .as-top-menu span {
  vertical-align: middle;
}
.create-assessment .as-top-menu ul {
  list-style: none;
  padding: 0;
}
.create-assessment .as-top-menu ul li {
  display: inline-block;
}
.create-assessment .question-box.active {
  margin: 36px 0;
  padding: 20px 0;
  background: #f2f2f2;
  border: 1px dotted #cccccc;
}
.create-assessment .question-box select {
  border: 0;
  padding: 10px 6px;
  outline: none;
  border-radius: 6px;
  background: #eee;
  height: auto;
}
.create-assessment .question-box .text-field {
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #cccccc;
  height: 28px;
  line-height: 28px;
  width: 93%;
  outline: none;
  resize: none;
  overflow-x: hidden;
  display: inline-block;
  overflow-y: hidden;
  max-height: 100%;
  vertical-align: middle;
  margin: 6px 0;
}
.create-assessment .question-box ul {
  list-style: none;
  padding: 0;
  top: 50%;
  right: -130px;
}
.create-assessment .question-box ul li a {
  cursor: pointer;
}
.create-assessment .question-box .label.label-info {
  padding: 5px;
  color: #ffffff;
}
.create-assessment .question-box.active .cursor-box {
  background-color: #3da9f2;
  height: 100%;
  width: 3px;
  left: 0;
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}
.onoffswitch span {
  vertical-align: middle;
  font-weight: 600;
  padding-left: 20px;
  border-radius: 50%;
}
.jqx-editor-toolbar-group {
  white-space: normal;
}
.as-attributes {
  color: #666666;
  cursor: pointer;
}
.as-attributes span {
  vertical-align: middle;
  font-weight: 600;
  padding-left: 20px;
  border-radius: 50%;
}
.as-attributes .onoffswitch,
.as-attributes i {
  display: inline-block;
  vertical-align: middle;
}
.as-attributes .dropdown-menu i {
  float: right;
}
.add-choice {
  margin: 24px 0;
}
.add-choice a {
  display: inline-block;
  padding: 6px 12px;
  background: #fefefe;
  border: 1px solid #000;
  color: #000;
  margin-left: 4px;
  text-decoration: none;
}
.as-options a.delete-choice {
  display: inline-block;
  color: #666666;
}
.as-options label {
  font-weight: normal;
  margin: 0;
}
.as-options .text-field {
  font-size: 12px;
  width: 89%;
}
.as-options .input {
  width: 92.9%;
}
/*switch*/
.onoffswitch {
  position: relative;
  width: 85px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 6px;
  margin: 0;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 28px;
  padding: 0;
  line-height: 28px;
  font-size: 14px;
  font-weight: 600;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "YES";
  padding-left: 3px;
  color: #807B7B;
}
.onoffswitch-inner:after {
  content: "NO";
  padding-right: 22px;
  color: #807B7B;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 28px;
  margin: 0px;
  background: #807B7B;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 51px;
  border: 2px solid #ffffff;
  border-radius: 6px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: -14px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 18px;
  background-color: #44C760;
}
/*switch ends*/
/*radio button starts*/
.radio-custom + .radio-custom-label:before {
  border-radius: 50%;
}
.radio-custom:checked + .radio-custom-label:before {
  background: #52B366;
}
/*radio button ends*/
/*checkbox start*/
.checkbox-custom,
.radio-custom {
  display: none !important;
}
.checkbox-custom,
.checkbox-custom-label,
.radio-custom,
.radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
}
.checkbox-custom-label,
.radio-custom-label {
  position: relative;
  font-size: 12px;
}
.checkbox-custom + .checkbox-custom-label:before,
.radio-custom + .radio-custom-label:before {
  content: '';
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  padding: 2px;
  margin-right: 5px;
  text-align: center;
}
.checkbox-custom:checked + .checkbox-custom-label:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  background: #52B366;
  color: #ffffff;
  padding: 0px;
}
/*checkbox ends*/
.score-list {
  text-align: center;
  padding-bottom: 10px;
}
.score-list i {
  float: left !important;
}
.score-list span {
  display: block;
}
.score-list input {
  width: 35%;
  display: inline-block;
  border: 0;
  border-bottom: 1px solid #cccccc;
  margin: 10px auto;
}
.score-list .button-group {
  text-align: center;
}
.score-list .button-group a {
  margin: 5px;
}
.swap-form-header {
  font-size: 16px;
  line-height: 48px;
  background: #eee;
  padding: 10px 20px;
}
.swap-form-header i {
  line-height: 48px;
  margin-left: -14px;
}
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 5px;
  width: 100%;
  vertical-align: middle;
}
.input__field {
  position: relative;
  display: block;
  float: right;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
}
.input__field:focus {
  outline: none;
}
.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}
/* Hoshi */
.input--hoshi {
  overflow: hidden;
}
.input--hoshi.active {
  overflow: visible;
}
.input__field--hoshi {
  padding: 12px 0;
  width: 100%;
  background: transparent;
  font-weight: normal;
}
.input__label--hoshi {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  text-align: left;
  pointer-events: none;
  overflow: hidden;
}
.input__label-content--hoshi {
  position: absolute;
}
.input__label--hoshi::before,
.input__label--hoshi::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(90%);
  border-bottom: 1px solid #B9C1CA;
}
.input__label--hoshi::after {
  margin-top: 2px;
  border-bottom: 3px solid red;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.input__label--hoshi-color-1::after {
  border-color: #00aaff;
}
.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.active .input__label-content--hoshi {
  -webkit-animation: anim-1 0.3s forwards;
  animation: anim-1 0.3s forwards;
}
@-webkit-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}
@keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}
.question-box:not(.active) .input__label--hoshi::before,
.question-box:not(.active) .input__label--hoshi::after {
  border-bottom: transparent;
}
.nav-button {
  width: 1.5rem;
  height: 1.5rem;
  background-size: 1rem 1rem;
  background: center center no-repeat;
  text-indent: -9999px;
  border: 0;
  display: inline-block;
  cursor: pointer;
  z-index: 2;
  position: relative;
  vertical-align: middle;
}
.nav-button span {
  position: absolute;
  top: 0.7rem;
  left: 0;
  width: 1.5rem;
  height: 2px;
  margin: 0 0 0;
  background: #ffffff;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.nav-button span:before,
.nav-button span:after {
  content: '';
  position: absolute;
  top: -0.5rem;
  right: 0;
  width: 1.5rem;
  height: 2px;
  background: #ffffff;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.nav-button span:after {
  top: .5rem;
}
.nav-button.transform span {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  background: #ffffff;
}
.nav-button.transform span:before,
.nav-button.transform span:after {
  content: '';
  top: -5px;
  right: -2px;
  width: 1rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-button.transform span:after {
  top: 5px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.grade-list {
  padding: 0;
  margin: 24px 0 -12px;
}
/* Simple setup for this demo */
.mdl-stepper-title {
  line-height: 18px;
  text-align: center;
  font-weight: normal;
  width: 145px;
  margin: 4px -45px 0;
  color: #ffffff;
}
/*news stepper*/
.wizard {
  position: relative;
  top: -160px;
}
.wizard .nav-tabs {
  border: 0;
  width: 75%;
  margin: auto;
}
.wizard > div.wizard-inner {
  position: relative;
}
.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 60%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}
.wizard .nav-tabs > li.active > a,
.wizard .nav-tabs > li.active > a:hover,
.wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}
span.round-tab {
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
}
span.round-tab i {
  color: #555555;
  font-size: 14px;
}
.wizard li.active span.round-tab {
  background: #ffffff;
  border: 2px solid #0d75bc;
}
.wizard li.active span.round-tab i {
  color: #0d75bc;
}
span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}
.wizard .nav-tabs > li {
  width: 25%;
  margin-right: 0;
  background: none;
  border: 0;
}
.wizard .tab-content {
  border: 0;
  padding: 0;
}
.wizard li:after {
  content: " ";
  position: absolute;
  left: 19%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #ffffff;
  transition: 0.01s ease-in-out;
  z-index: 99;
}
.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 45%;
  opacity: 1;
  margin: 0 auto;
  bottom: -32px;
  border: 12px solid transparent;
  border-bottom-color: #ffffff;
}
.wizard .nav-tabs > li a {
  width: 50px;
  height: 50px;
  margin: 20px auto;
  padding: 0;
}
.wizard .nav-tabs > li a:hover {
  background: transparent;
}
.wizard h3 {
  margin-top: 0;
}
@media (max-width: 585px) {
  .create-assessment .as-top-menu {
    height: 138px;
  }
  .create-assessment .wizard {
    top: -80px;
  }
  .create-assessment .tab-content {
    margin-top: -44px;
  }
  .main-content-wrapper .main-content-container {
    padding: 0;
  }
  span.round-tab {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  .wizard .nav-tabs > li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  .wizard-inner {
    top: -20px;
  }
  .mdl-stepper-title {
    display: none;
  }
  .tab-pane {
    top: -1px;
  }
  .wizard li.active:after {
    left: 36%;
    bottom: -8px;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
  }
  .jqx-widget-header {
    width: 100% !important;
  }
}
.dl-horizontal dd {
  margin-left: 60px;
}
.dl-horizontal dt {
  float: left;
  width: auto;
}
.assessmentbuilder .breadcrumb-container {
  display: none;
}
.assessmentbuilder .input .jqx-widget-header {
  width: auto !important;
  font-weight: normal;
}
.assessmentbuilder select {
  display: inline-block;
  width: auto;
}
.staging img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #eee;
  box-shadow: 0px 0px 8px 1px #cccccc;
  margin-right: 12px;
}
.btn-group a {
  color: #1a1a1a;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px;
  background: rgba(255, 255, 255, 0.3);
}
.btn-group a:hover,
.btn-group a:active {
  background: #999999;
}
.qna {
  display: table;
  width: auto;
}
.qna .question {
  display: table-cell;
  padding: 0 15px;
  line-height: 1;
}
.qna .question p {
  border-left: 3px solid #3da9f2;
  margin: 0 0 0 -56px;
  padding-left: 60px;
  line-height: 1.5;
}
.qna label {
  margin: 12px 0;
  display: block;
  margin-left: 0 !important;
}
.qna .qno {
  display: inline-block;
  background: rgba(61, 169, 242, 0.8);
  border-radius: 50%;
  padding: 3px 9px;
  vertical-align: top;
  color: #ffffff;
}
.question-editor {
  padding: 12px;
}
.question-editor .ui-state-default,
.question-editor .ui-widget-content .ui-state-default,
.question-editor .ui-widget-header .ui-state-default {
  border: 0;
  background: none;
}
.question-editor .form-group {
  padding: 0;
  margin-bottom: 0;
}
.assessment-title {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.assessment-title img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #eee;
  margin-right: 8px;
}
.top-btns {
  padding: 12px 15px;
}
.top-btns .btn.dropdown-toggle {
  padding: 12px;
  min-width: 160px;
}
.top-btns ul.dropdown-menu {
  padding: 0;
  margin: -1px 0;
  width: 100%;
}
/*end*/
.assessment-list {
  background: rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.17);
  border-radius: 6px;
  padding: 12px;
  min-height: 90px;
  margin: 12px 0;
  overflow: hidden;
}
.assessment-list h5 {
  width: 380px;
  margin-top: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.assessment-list a {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
}
.assessment-list a:hover,
.assessment-list a a:focus {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}
.assessment-list .icon-list {
  position: absolute;
  right: 15px;
  top: 13px;
  background: rgba(0, 0, 0, 0.17);
  border-radius: 0 6px 6px 0;
  padding: 0;
}
.assessment-list .icon-list li {
  padding: 6px;
  cursor: pointer;
  border-left: 1px solid #999999;
  margin: -0.8px 0;
  border-right: 1px solid #999999;
}
.assessment-list .icon-list li:hover {
  background: #777;
  border: 0;
}
.assessment-list .icon-list li:hover i {
  color: #ffffff;
}
.assessment-list .icon-list li:first-child {
  border-radius: 0 6px 0 0;
}
.assessment-list .icon-list li:last-child {
  border-radius: 0 0 6px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
}
.assessment-list span {
  font-weight: normal;
  color: #272727;
}
.assessment-list .col-sm-6,
.assessment-list .col-sm-12 {
  padding: 0;
}
.assessment-list label {
  font-size: 12px;
  display: block;
}
.assessment-quanity {
  font-size: 22px;
  line-height: 1;
  margin-top: -16px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.4);
  padding: 6px 12px;
  border-radius: 6px;
}
.scoring-block {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 12px 0;
  background: #ffffff;
}
.scoring-block select {
  display: inline-block;
  width: auto;
}
.scoring-block p.well {
  font-size: 10px;
  padding: 5px;
}
.scoring-block input.form-control {
  margin: 6px 0;
}
.scoring-block .checkbox-custom-label,
.scoring-block .radio-custom-label {
  font-size: 10px;
  font-weight: normal;
  display: flex;
}
.scoring-block .checkbox-custom + .checkbox-custom-label:before,
.scoring-block .radio-custom + .radio-custom-label:before {
  padding: 4px;
}
.retake-limit {
  padding: 0 12px;
}
.retake-limit .input {
  display: inline-block;
  width: auto;
  height: 38px;
}
.retake-limit .input__field--hoshi {
  padding: 6px;
}
.list-view-assessment {
  margin-top: 20px;
  float: left;
  width: 100%;
}
.list-view-assessment .table {
  margin-bottom: 0;
  border: 1px solid #cccccc;
  background: rgba(0, 0, 0, 0.17);
}
.list-view-assessment .table thead {
  background: #ffffff;
}
.list-view-assessment .table-striped > tbody > tr:nth-child(odd) > td,
.list-view-assessment .table-striped > tbody > tr:nth-child(odd) > th {
  background: none;
}
.list-view-assessment .table > tbody > tr > td {
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-view-assessment .table-striped > tbody > tr:nth-child(1) td {
  max-width: 248px;
}
.list-view-assessment .table-striped > tbody > tr:nth-child(2) td {
  max-width: 150px;
}
.list-view-assessment .table-striped > tbody > tr:nth-child(3) td {
  max-width: 100px;
}
.list-view-assessment .table-striped > tbody > tr:nth-child(4) td {
  max-width: 100px;
}
.list-view-assessment .table-striped > tbody > tr:nth-child(5) td {
  max-width: 100px;
}
.list-view-assessment .table-striped > tbody > tr:nth-child(6) td {
  max-width: 150px;
}
.feedback .input {
  width: auto;
}
/*# sourceMappingURL=assessmentbuilder.css.map */