.clippy {
    margin-top: -3px;
    position: relative;
    top: 3px;
}

.btn[disabled] .clippy {
    opacity: .3;
}

.example {
    position: relative;
    margin: 15px 0 0;
    padding: 39px 19px 14px;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    border: 1px solid #ddd;
    z-index: 2;
    p {
        color: #666;
    }
    &:after{
        content: "Example";
        position: absolute;
        top: 0;
        left: 0;
        padding: 2px 8px;
        font-size: 12px;
        font-weight: bold;
        background-color: #f5f5f5;
        color: #9da0a4;
        border-radius: 4px 0 4px 0;
    }
}

.example+.snippet {
    background: #f8f8f8;
    border-radius: 4px;
    border: 1px solid #ddd;
    clear: both;
    top: -20px;
    padding: 20px 0 0;
}

.snippet {
    position: relative;
    overflow: visible;
    code {
        font-size: 14px;
        line-height: 20px;
    }
    .btn {
        -webkit-transition: opacity 0.3s ease-in-out;
        -o-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
        padding: 2px 6px;
        position: absolute;
        right: 4px;
        top: 4px;
        @media screen and (max-width: 768px) {opacity: 1;}
        @media screen and (max-width: 768px) {opacity: 1;}
    }
    &:hover, &:focus{
        .btn{
            opacity: 1;
        }
    }
}

.example+.snippet .btn {
    top: 22px;
    right: 2px;
}

code {
    background-color: #E8F5F2;
    border-radius: 3px;
    color: #1BC1A1;
    font-size: 85%;
    margin: 0;
    padding: 0.2em;
}

.hljs-keyword {
    color: #008080;
    font-weight: normal;
}

.support {
    list-style: none;
    text-align: center;
    li {
        display: inline-block;
        text-align: center;
        margin: 15px 0;
        width: 30%;
        @media screen and (max-width: 410px) {width: 45%;}
        @media screen and (max-width: 290px) {width: 100%;}
    }
    p {
        margin: 0;
    }
}

.remove{
    border:dashed 1px #ccc;
}