@import "_variables.scss";
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/*test*/
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}

/* Vehicles */
.vehicles {
    .btn-green {
        margin: 35px auto 15px auto;
        display: block;
        width: 200px
    }

    .vehicle {

        hr {
            margin: 20px 15px
        }

        h2 {
            color: #000;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 10px 0
        }

        .actions {
            .btn {
                display: block;
                width: 100px;
                margin: 10px auto
            }
        }

        .pending, .unenrolled {
            opacity: .4
        }

        .pending, .unenrolled {
            [class*="plate-"], .plate-az {
                opacity: .4
            }
        }

    }
}


/*Forms*/
