$FontFamily: "Helvetica Neue", Helvetica, Arial, "Open Sans";
$LinkColor: #0d72b5;
$LinkHoverColor: lighten($LinkColor, 10%);
$Headers: #666;
$BodyColor: #444;
$BorderRadius: 5px;
$TabRadius: $BorderRadius $BorderRadius 0 0;